# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/stats.html
/pnpm-lock.yaml
auto-imports.d.ts
components.d.ts
*/stats.html
*/*/stats.html
/plugins/era-map/res/
/plugins/era-map/script/layout.json
